{% extends 'hotels/homepage.html' %}
{% load static %}

{% block body %}

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}


<div class="container my-5 text-center">
    <div class="flex-row mx-5">
    <div class="row" >
        <div class="col">
            <form action="{% url 'hotels:addCard' %}" method="POST">
                {% csrf_token %}
                Hotel Name : 
                <div class="form-group">
                    <input type="text" class=" form-control" id="hotel_name" name= "hotel_name">
                </div>
                City : 
                <div class="form-group">
                    <input type="text" class=" form-control" id="city" name= "city">
                </div>
                State : 
                <div class="form-group">
                    <input type="text" class=" form-control" id="state" name= "state">
                </div>
                Date : 
                <div class="form-group">
                    <input type="date" class=" form-control" id="date" name= "date">
                </div>
                Price : 
                <div class="form-group">
                    <input type="number" class=" form-control" id="price" name= "price" min="0">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Add Card</button>
            </form>
        </div>
    </div>
    </div>
</div>




{% endblock body %}